Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Suma">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="n2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Resta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="n2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RestaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Multiplicacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="n2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplicacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplicacionResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Division">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="n2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivisionResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Raiz">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RaizResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RaizResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Potencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="n2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PotenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PotenciaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Seno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SenoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SenoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Coseno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CosenoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CosenoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tangente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TangenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TangenteResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FactResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SumaSoapIn">
    <wsdl:part name="parameters" element="tns:Suma" />
  </wsdl:message>
  <wsdl:message name="SumaSoapOut">
    <wsdl:part name="parameters" element="tns:SumaResponse" />
  </wsdl:message>
  <wsdl:message name="RestaSoapIn">
    <wsdl:part name="parameters" element="tns:Resta" />
  </wsdl:message>
  <wsdl:message name="RestaSoapOut">
    <wsdl:part name="parameters" element="tns:RestaResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplicacionSoapIn">
    <wsdl:part name="parameters" element="tns:Multiplicacion" />
  </wsdl:message>
  <wsdl:message name="MultiplicacionSoapOut">
    <wsdl:part name="parameters" element="tns:MultiplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="DivisionSoapIn">
    <wsdl:part name="parameters" element="tns:Division" />
  </wsdl:message>
  <wsdl:message name="DivisionSoapOut">
    <wsdl:part name="parameters" element="tns:DivisionResponse" />
  </wsdl:message>
  <wsdl:message name="RaizSoapIn">
    <wsdl:part name="parameters" element="tns:Raiz" />
  </wsdl:message>
  <wsdl:message name="RaizSoapOut">
    <wsdl:part name="parameters" element="tns:RaizResponse" />
  </wsdl:message>
  <wsdl:message name="PotenciaSoapIn">
    <wsdl:part name="parameters" element="tns:Potencia" />
  </wsdl:message>
  <wsdl:message name="PotenciaSoapOut">
    <wsdl:part name="parameters" element="tns:PotenciaResponse" />
  </wsdl:message>
  <wsdl:message name="SenoSoapIn">
    <wsdl:part name="parameters" element="tns:Seno" />
  </wsdl:message>
  <wsdl:message name="SenoSoapOut">
    <wsdl:part name="parameters" element="tns:SenoResponse" />
  </wsdl:message>
  <wsdl:message name="CosenoSoapIn">
    <wsdl:part name="parameters" element="tns:Coseno" />
  </wsdl:message>
  <wsdl:message name="CosenoSoapOut">
    <wsdl:part name="parameters" element="tns:CosenoResponse" />
  </wsdl:message>
  <wsdl:message name="TangenteSoapIn">
    <wsdl:part name="parameters" element="tns:Tangente" />
  </wsdl:message>
  <wsdl:message name="TangenteSoapOut">
    <wsdl:part name="parameters" element="tns:TangenteResponse" />
  </wsdl:message>
  <wsdl:message name="FactSoapIn">
    <wsdl:part name="parameters" element="tns:Fact" />
  </wsdl:message>
  <wsdl:message name="FactSoapOut">
    <wsdl:part name="parameters" element="tns:FactResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Suma">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sumar dos numeros</wsdl:documentation>
      <wsdl:input message="tns:SumaSoapIn" />
      <wsdl:output message="tns:SumaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Resta de dos numeros</wsdl:documentation>
      <wsdl:input message="tns:RestaSoapIn" />
      <wsdl:output message="tns:RestaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiplicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Multiplicación de dos numeros</wsdl:documentation>
      <wsdl:input message="tns:MultiplicacionSoapIn" />
      <wsdl:output message="tns:MultiplicacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Division">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Division de dos numeros</wsdl:documentation>
      <wsdl:input message="tns:DivisionSoapIn" />
      <wsdl:output message="tns:DivisionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Raiz">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Raiz cuadrada de un numero</wsdl:documentation>
      <wsdl:input message="tns:RaizSoapIn" />
      <wsdl:output message="tns:RaizSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Potencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Potencia de un numero</wsdl:documentation>
      <wsdl:input message="tns:PotenciaSoapIn" />
      <wsdl:output message="tns:PotenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Seno">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Seno de un numero</wsdl:documentation>
      <wsdl:input message="tns:SenoSoapIn" />
      <wsdl:output message="tns:SenoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Coseno">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Coseno de un numero</wsdl:documentation>
      <wsdl:input message="tns:CosenoSoapIn" />
      <wsdl:output message="tns:CosenoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tangente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tangente de un numero</wsdl:documentation>
      <wsdl:input message="tns:TangenteSoapIn" />
      <wsdl:output message="tns:TangenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Fact">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Factorial de un numero</wsdl:documentation>
      <wsdl:input message="tns:FactSoapIn" />
      <wsdl:output message="tns:FactSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Suma">
      <soap:operation soapAction="http://tempuri.org/Suma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <soap:operation soapAction="http://tempuri.org/Resta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicacion">
      <soap:operation soapAction="http://tempuri.org/Multiplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap:operation soapAction="http://tempuri.org/Division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Raiz">
      <soap:operation soapAction="http://tempuri.org/Raiz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Potencia">
      <soap:operation soapAction="http://tempuri.org/Potencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Seno">
      <soap:operation soapAction="http://tempuri.org/Seno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Coseno">
      <soap:operation soapAction="http://tempuri.org/Coseno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tangente">
      <soap:operation soapAction="http://tempuri.org/Tangente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fact">
      <soap:operation soapAction="http://tempuri.org/Fact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Suma">
      <soap12:operation soapAction="http://tempuri.org/Suma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <soap12:operation soapAction="http://tempuri.org/Resta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicacion">
      <soap12:operation soapAction="http://tempuri.org/Multiplicacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap12:operation soapAction="http://tempuri.org/Division" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Raiz">
      <soap12:operation soapAction="http://tempuri.org/Raiz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Potencia">
      <soap12:operation soapAction="http://tempuri.org/Potencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Seno">
      <soap12:operation soapAction="http://tempuri.org/Seno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Coseno">
      <soap12:operation soapAction="http://tempuri.org/Coseno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tangente">
      <soap12:operation soapAction="http://tempuri.org/Tangente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fact">
      <soap12:operation soapAction="http://tempuri.org/Fact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://www.meikyuublack.somee.com/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://www.meikyuublack.somee.com/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>